aiohttp==3.6.2
aniso8601==8.0.0
appdirs==1.4.3
argon2-cffi==19.2.0
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
configparser==4.0.2
crayons==0.3.0
decorator==4.4.1
defusedxml==0.6.0
discord.py==1.3.0a0
Django==2.2.9
django-allauth==0.41.0
django-bootstrap3==12.0.3
django-braces==1.14.0
django-cors-headers==3.2.1
django-crispy-forms==1.8.1
django-debug-toolbar==2.1
django-model-utils==4.0.0
django-private-chat==0.2.2
django-summernote==0.8.11.6
djangorestframework==3.11.0
EasyProcess==0.2.9
environ==1.0
Faker==3.0.0
Flask==1.1.1
Flask-RESTful==0.3.7
gcloud==0.17.0
GDAL==3.0.2
gmane==0.1.dev25
googleapis-common-protos==1.51.0
httplib2==0.16.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jws==0.1.3
linkedin-api==1.1.0
lxml==4.4.2
MarkupSafe==1.1.1
misaka==2.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
multidict==4.7.4
networkx==2.4
numpy==1.17.4
oauth2client==3.0.0
oauthlib==3.1.0
packaging==20.0
parsedatetime==2.5
Pillow==6.2.1
pout==0.8.13
pprint==0.1
protobuf==3.11.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycryptodome==3.6.6
PyJWT==1.7.1
pylab==0.0.2
pyparsing==2.4.6
Pyrebase==3.0.27
python-dateutil==2.8.1
python-jwt==2.0.1
python-linkedin==4.2
python3-openid==3.1.0
pytz==2019.3
pyusb==1.0.2
PyVirtualDisplay==0.2.5
PyVISA==1.10.1
PyVISA-py==0.3.1
requests==2.11.1
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
rsa==4.0
scipy==1.4.1
selenium==3.141.0
six==1.13.0
social==0.1.dev3
social-auth-app-django==3.1.0
social-auth-core==3.2.0
soupsieve==1.9.5
splinter==0.13.0
sqlparse==0.3.0
text-unidecode==1.3
tqdm==4.41.1
urllib3==1.25.7
webdriver-manager==2.3.0
webdrivermanager==0.7.4
websockets==8.1
Werkzeug==0.16.0
whitenoise==5.0.1
xvfbwrapper==0.2.9
yapf==0.29.0
yarl==1.4.2
