<!-- <h1>Built-In Login Logout</h1> -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Forgot Password{% endblock title %}

{% block content %} 
<div class="style-custom container jumbotron">
  <h2>Reset Password</h2>
  <h3>Enter your new password</h3>
  <form class="form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
  <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
  </form>                    
</div>
<style>
.style-custom{
   margin-top:1%;padding:3%;width:50%;
}
@media screen and (max-width:800px){
   .style-custom{
      width:90%;
   }
}
</style>
{% endblock content %}