<!-- <h1>Built-In Login Logout</h1> -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Forgot Password{% endblock title %}

{% block content %} 
<div class="style-custom container jumbotron">
    <h2>Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">submit</button>
    </form>
</div>
<style>
.style-custom{
   margin-top:3%;padding:3%;width:30%;
}
@media screen and (max-width:800px){
   .style-custom{
      width:80%;
   }
}
</style>
{% endblock content %}