.textblock{
    width:500px;
    height:200px;
}
.fn{
    width:500px;
}
.ln{
    width:500px;
}
.mail{
    width:500px;
}
.sub{
    width:500px;
}
.division{
    border-radius: 25px;
    padding-bottom: 30px;
    padding-left: 100px;
}