{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
    Published by {{ post.author }} | {{ post.created }}
    </p>
    {{ post.body|linebreaks }}
    <br/><br/><br/>


    <!-- Comments Form --> 
    <h2>Add a new comment</h2>
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit">Add comment</button>
    </form>

    <!-- Comment with nested comments -->
    {% for comment in comments %}
        <div class="comment" style="background-color: powderblue">
            <p class="info">{{ comment.author }} | {{ comment.created }}</p>
                {{ comment.body|linebreaks }}

            {% for replay in comment.replies.all %}
                <p class="info">{{ replay.author }} | {{ replay.created }}</p>
                <li>{{ replay.body }}</li>
            {% endfor %}

            <h5>Replay</h5>
            <form action="." method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <!-- Hidden input for parent comment.id -->
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <input class="btn btn-primary" type="submit" value="Replay">
            </form>
        </div>
    {% empty %}
    <h4>There are no comments yet.</h4>
    {% endfor %}
{% endblock %}