<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alumni Portal</title>
    <!-- Attach the style sheets here -->
    <link rel="shortcut icon" href="./img/iiits/iiits_logo.png" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/gallery.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    <link rel="stylesheet" href="./css/aos_effect.css" />
    
    

    <!-- attach the webstyle sheets ---->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
    <!-- including aos library -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
   


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
      window.onscroll = function() {scrollFunction()};
  
      function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
          document.getElementById("func_navbar").style.padding = "2px 2px";
          document.getElementById("func_logo").style.fontSize = "5px";
        } else {
          document.getElementById("func_navbar").style.padding = "10px 10px";
          document.getElementById("func_logo").style.fontSize = "5px";
        }
      }
    </script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<body>
    <div style="width:100%">
        <div class="img-bar">
            <img src="./img/iiits/logo12-new-1.png" class="header-logo" alt="" srcset="./img/iiits/logo12-new-1.png 799w, ./img/iiits/logo12-new-1-300x35.png 300w, ./img/iiits/logo12-new-1-768x88.png 768w" sizes="(max-width: 799px) 75vw, 799px">
        </div>            
        <div class="loginsignup">
            <a href="#">Register</a><a href="#">Log in</a>
        </div>
    </div>
    <!-- navbar -->
      <nav id="func_navbar" class="navbar navbar-custom navbar-expand-md navbar-dark bg-dark sticky-top" style="position: sticky;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="func_logo" class="nav-link" href="./index.html"><img src="./img/iiits/iiits_logo.png" style="width:11%;"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#recent_events">Recent Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Events</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Contact us </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="nav-link dropdown-item" href="./contact.html" style="color:black">How to reach?</a></li>
                      <li><a class="nav-link dropdown-item" href="./contactform.html" style="color:black">Contact Form</a></li>
                  </ul>
                </li>  
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Google</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Submenu</a></li>
                                <li><a class="dropdown-item" href="#">Submenu0</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 1</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                                        <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                                        <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
            </ul>
        </div>
      </nav>
	<div class="container division" style="background-color:white;">
		<div class="col-lg-6">
			<form class="form">
				<br>
				<br>
				First Name:<br>
	  			<input class="fn" type="text" placeholder="First Name"><br>
	  			Last Name:<br>
	  			<input class="ln" type="text" placeholder ="Last Name"><br>
	  			Email:<br>
	  			<input class="mail" type="Email" placeholder ="Email"><br>
				Subject:<br>
				<input class="sub" type="text" placeholder="subject"><br>
				<br>
				<input type="text" class="textblock" placeholder="Message"><br>
				<p><b>Please indicate your query clearly in the subject line for faster processing of your queries. Please refer to our website before forwarding your queries to us.</b></p>
			</form>
		</div>
	</div>

	<footer>
	<div class="container">
		<div class="row">
		<div class="col-lg-4 col-md-6">
			<h3>Site Map</h3>
			<ul class="list-unstyled three-column">
			<li>Home</li>
			<li>Services</li>
			<li>About</li>
			<li>Code</li>
			<li>Design</li>
			<li>Host</li>
			<li>Contact</li>
			<li>Company</li>
			</ul>
			<ul class="list-unstyled socila-list">
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			</ul>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3>Site Map</h3>
			<ul class="list-unstyled three-column">
			<li>Home</li>
			<li>Services</li>
			<li>About</li>
			<li>Code</li>
			<li>Design</li>
			<li>Host</li>
			<li>Contact</li>
			<li>Company</li>
			</ul>
			<ul class="list-unstyled socila-list">
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			</ul>
		</div>
		<div class="col-lg-4 col-md-6">
			<h3>Site Map</h3>
			<ul class="list-unstyled three-column">
			<li>Home</li>
			<li>Services</li>
			<li>About</li>
			<li>Code</li>
			<li>Design</li>
			<li>Host</li>
			<li>Contact</li>
			<li>Company</li>
			</ul>
			<ul class="list-unstyled socila-list">
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			<li><img src="http://placehold.it/48x48" alt="" /></li>
			</ul>
		</div>
		</div>
	</div>
	<div class="copyright text-center">
		Copyright &copy; 2020 <span>MARVM</span>
	</div>
	</footer>
    <!-- Attach the scripts here -->
    <script>
        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        }
    </script>
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1300,
      })
    </script>
</body>
</html>