{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="container jumbotron" style="margin-top:1%;padding:1%">
   {% if form.errors %}Your username and password didn't match. Please try again.{% endif %}
   <form action="." method="post">{% csrf_token %}
        <p class="hint-text">Create your account. It's free and only takes a minute.</p>
        {{ form|crispy }} 
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LeO1NkUAAAAABSyS6RPCK1NpaKHncWb-VSuQSG8"></div>  
        <button type="submit" class="btn btn-primary">Register Now</button>
    </form>
</div>
{% endblock %}



