{% extends 'blog/blog_base.html' %}
{% load static %}
{% block content %}
    <style>
       @media screen and (max-width:560px){
      	#hi{
      width:280px;
      background:rgba(0, 2, 8, 0.72);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      padding:35px;
    }
    .com{
      width:212px;
      background:rgba(98, 197, 228, 0.72);
      box-shadow: white;
      
    }
    body{
      background-image:url("{% static 'img/blog/post_detail.webp' %}");
      background-size:cover; 
      color:white;
      background-attachment:fixed;
      }
      #con{
        margin-top: 3%;
      }
    }


    @media screen and (min-width:768px){
      #hi{
      width:800px;
      background:rgba(0, 2, 8, 0.72);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      padding:80px;
    }
    .com{
      width:630px;
      background:rgba(98, 197, 228, 0.72);
      box-shadow: white;
    }
    body{
      background-image:url("{% static 'img/blog/post_detail.webp' %}");
      background-size:cover; 
      color:white;
      background-attachment:fixed;
      }
      #con{
        margin-top: 3%;
      }
    }
    </style>
    <div class='container' id="con">
        <div id="hi" class="container" style="margin-bottom:20px;">         
            {% if comment.author.avatar %}
              <img src="{{ comment.author.avatar.url }}" alt="Avatar" class="image"  style="height:50px;width:50px;float:left;border-radius:50%;">
            {% else %}
              <img src="{% static 'profile/default_symbol.png' %}" alt="Avatar" class="image"  style="height:50px;width:50px;float:left;border-radius:50%;">
            {% endif %}
            <b style="font-size:40px;color:rgb(106, 90, 230)"><a href="{% url 'profile_page' post.author.username %}">{{ post.author }}</a></b>
            <i> posted on {{ post.date_posted|date:"F d, Y" }}</i>
            <h2 style="font-size:40px;color:rgb(106, 90, 230)">{{ post.title }}</h2>
            <p style="text-align: center;">{{ post.content }}</p>
            {% if post.author == user %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a><br><br>
            {% endif %}
              
            <div>
              <h5 style="color:white;">Leave a Coment:</h5>
                <form method='POST'>
                  {% csrf_token %}
                  <div class="form-group">
                    <textarea class="form-control" name="body" rows="1"></textarea>
                  </div>
                  <button type='submit' class='btn btn-primary'>Submit</button><br><br>
                </form>
              </div>

            {% for comment in comments %}
            <div class="container com">
              <div class='media mb-4'>
                  <img class='d-flex mr-3 rounded-circles' src="#" alt="">
                  <div class='media-body'>
                    {% if comment.author.avatar %}
                      <img src="{{ comment.author.avatar.url }}" alt="Avatar" class="image"  style="height:50px;width:50px;float:left;border-radius:50%;">
                    {% else %}
                      <img src="{% static 'profile/default_symbol.png' %}" alt="Avatar" class="image"  style="height:50px;width:50px;float:left;border-radius:50%;">
                    {% endif %}
                    <h5 style="color: black;"><a style="color: darkblue;" href="{% url 'profile_page' comment.author.username %}">{{ comment.author }}</a> <small class="text" style="font-style: italic;color: black;font-size: small;font-weight: bold;">{{ comment.create_date }}</small><h5>
                      <h6>{{ comment.text }}</h6>
                    {% if user == comment.author %} 
                      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'edit-comment' pid=post.id cid=comment.id %}">Edit</a>
                      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-comment' pid=post.id cid=comment.id %}">Delete</a>
                    {% endif %}
                    <hr style="width:80%;">
                    {% for reply in comment.replies.all %}
                    {% if reply.author.avatar %}
                      <img src="{{ reply.author.avatar.url }}" alt="Avatar" class="image"  style="height:50px;width:50px;float:left;border-radius:50%;">
                    {% else %}
                      <img src="{% static 'profile/default_symbol.png' %}" alt="Avatar" class="image"  style="height:50px;width:50px;float:left;border-radius:50%;">
                    {% endif %}
                        <h5 style="color: black;" class="info"><a style="color: darkblue;" href="{% url 'profile_page' reply.author.username %}">{{ reply.author }}</a><small class="text" style="font-style: italic;color: black;font-size: small;font-weight: bold;">{{ reply.create_date }}</small> </h5>
                        <h6>{{ reply.text }}</h6>
                        {% if user == reply.author %} 
                          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'edit-comment' pid=post.id cid=reply.id %}">Edit</a>
                          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-comment' pid=post.id cid=reply.id %}">Delete</a>
                        {% endif %}
                     <hr style="width:80%;">  
                    {% endfor %}
                    <div class='container rply'>
                      <form action="." method="post">
                          {% csrf_token %}
                          <input type="hidden" name="parent_id" value="{{ comment.id }}">
                          <h6 style="color:black;">Reply</h6><textarea class="form-control" name="body" rows="1"></textarea>
                          <input class="btn btn-primary" type="submit" value="Reply">
                      </form>
                    </div>
                  </div>
                  </div>
            </div>
            {% endfor %}
          </div> 
      </div>
{% endblock content %}



