{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

   {% if form.errors %}Your username and password didn't match. Please try again.{% endif %}
   <form action="{% url 'login' %}" method="post" class="form-signin">
      {% csrf_token %}
      {{ form.as_p }}     

      <input type="hidden" name="next" value="{{ next }}" />     
      <button class="btn btn-block" type="submit" value="login">Login</button> 
   </form>
   <br>
   <a href="{% url 'password_reset' %}">Forgot Password</a>
   <br>
   <a href="{% url 'register' %}">Sign Up</a>
{% endblock %}