<!DOCTYPE html> {% load static %}
<html>
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <style>
   	.container{
      width:900px;
      height:310px;
      background:rgba(0, 2, 8, 0.72);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   	}
   	body{
    background-image:url("{% static 'img/errors/404.jpeg' %}");
    background-size:cover; 
    color:white;
    background-attachment: fixed;
   	}
   </style>
</head>
<body>
	<div class="container" style="background-color:rgb(9, 68, 102);"><br>
	   <div style="text-align:center;padding:30px;" >
	   	<h1 style="font-size:80px;font-family:cursive;">503</h1>
	   	<h1 style="font-size:80px;font-family:cursive;">Server unavailable</h1>
	   </div>
	</div>
	<div class="container"><br>
	   <div style="padding:60px;" >
	   	<p>Looks like we're having some server issues.</p><br>
	   	<a href="{% url 'home' %}" style="background-color:rgb(9, 68, 102);color:white;">Go back home</a>
	   </div>
	</div>
	</body>
	</html>