<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
{% load static %}
<style type="text/css">
	.contact_background{
		background-image:url("{% static 'img/iiits/contact_page_bg.jpg' %}"); 
		background-size:100% 100%;
	}
	.click{
		padding-top:3%;
		background-color: rgba(0,0,0,0.7);
		position: absolute;
		top: 105px;
		left: 0;
		width: -webkit-fill-available;
		height: 300px;
	}
	.contactform{
		text-align: center;
		margin-top: 35px;
		max-height: 300px;
	}
	.contactformbut{
		max-width: 180px;
	}
	@media screen and (max-width : 900px) {
		.contactform{
			max-height: 400px;
		}
	}
	@media screen and (max-width : 760px) {
		.contactformbut{
			max-width: 70%;
		}
		.contactform{
			max-height: 460px;
		}
	}
	@media screen and (max-width : 560px) {
		.contactformbut{
			max-width: 80%;
		}
		.contactform{
			max-height: 310px;
		}
	} 
</style>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<div class="container-fluid" style="width:100%;height:300px;padding:0px;margin-top:2px;margin-bottom:40px;">
		<div class="contact_background contactform" style="width:100%;height:100%;">
			<div class="click">
				<h2 style="color: white; font-family: Roboto,sans-serif;font-weight: bold;">Contact Us</h2>
				<p style="font-size: 1em; color: white;font-weight: bold; font-family: 'Times New Roman', Times, serif;margin-top:50px;">Alumni Needs enables you to harness the power of your alumni network. Whatever may be the need</p>
				<a href="#contactform" class="contactformbut"><button class="btn btn-success" style="padding-left: 1rem;padding-right: 1rem;margin-top: 57px;">Let's See</button></a>
			</div>
		</div>
	</div>
	
	<div id="contactform" class="container col-sm-8">
		<div class="container-contact100">
			<div class="contact100-map" id="google_map" data-map-x="13.555543" data-map-y="80.0244577" data-pin="{% static 'img/icons/map-marker.png' %}" data-scrollwhell="0" data-draggable="1"></div>

			<button class="contact100-btn-show" style="position:absolute;">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</button>

			<div class="wrap-contact100" style="padding-right:0px;">
				<button class="contact100-btn-hide" style="right: 0px;">
					<i class="fa fa-close" aria-hidden="true"></i>
				</button>

				<form class="contact100-form validate-form" method="post">
					{% csrf_token %}
					<span class="contact100-form-title">
						Contact Us
					</span>
					<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Your Name</span>
						<input class="input100" type="text" name="name" placeholder="Enter your name">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
						<input class="input100" type="text" name="email" placeholder="Enter your email addess">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Subject</span>
						<input class="input100" type="text" name="subject" placeholder="Enter subject">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Message is required">
						<span class="label-input100">Message</span>
						<textarea class="input100" name="message" placeholder="Your message here..."></textarea>
						<span class="focus-input100"></span>
					</div>
					<script src='https://www.google.com/recaptcha/api.js'></script>
					<div class="g-recaptcha wrap-input100" style="border-bottom:none;" data-sitekey="6LeO1NkUAAAAABSyS6RPCK1NpaKHncWb-VSuQSG8"></div>  
					<div class="form-actions container-contact100-form-btn">
						<button type="submit" class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</form>

				<span class="contact100-more">
					For any question contact our 24/7 call center: <span class="contact100-more-highlight">+001 345 6889</span>
				</span>
			</div>
		</div>



		<div id="dropDownSelect1"></div>
	</div>
<!--===============================================================================================-->
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script> -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>

	<script src="{% static 'js/map-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

{% endblock content %}