<!DOCTYPE html>
{% extends "base.html" %}
	{% block title %}Contact us{% endblock %}
    {% block content %}
    {% load static %}
    
	  <div class="container" id="cn">
		<div class="row">
			<div class="col-lg-6">
				<p><b>Dr.Ramakrishnan,</b><br>
					Alumini Officer.<p> 
				<p><b>Indian Institute of Information Technology, Sri City, Chittoor</b></p>
				<p>630 Gnan Marg, Sri City, Satyavedu Mandal<br>
				Chittoor District - 517 646, Andhra Pradesh, India<br>
	            Phone No. +91 73064 73364</p>
	            <b>Registrar Office :</b> <a href="tel:+91 70328 51919">+91 70328 51919</a><br>
	            <b>Academic Office :</b><a href="tel:+91 95503 80002">+91 95503 80002</a><br>
	            <br>
	            <b>Email :</b><br>
	            <b>Placement details:</b><a href="mailto:placement.office@iiits.in">placement.office@iiits.in</a><br>
	            <b>Other general queries:</b><a href="mailto:contact@iiits.in">contact@iiits.in</a><br>
	        </div>
	    </div>
	</div>
	<p></p>
	<div class="container" id="cn">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3878.6537922087036!2d80.02393961465195!3d13.556817090473862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d773f1e0f8721%3A0xadb0842ffc2719e4!2sIndian%20Institute%20of%20Information%20Technology%20Sri%20City!5e0!3m2!1sen!2sin!4v1580205222221!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="width:100%;height:350px" allowfullscreen=""></iframe>
	</div>
{% endblock %}