<!DOCTYPE html> {% extends "base.html" %} {% block title %}Events{% endblock %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'assets/events_web/assets/icons2/mobirise2.css' %}">
      <link rel="stylesheet" href="{% static 'assets/events_web/assets/icons/mobirise-icons.css' %}">
      <link rel="stylesheet" href="{% static 'assets/events_bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/events_bootstrap/css/bootstrap-grid.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/events_bootstrap/css/bootstrap-reboot.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/events_theme/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'assets/events_others/css/mbr-additional.css' %}" type="text/css">

      <section class="header12 cid-rR33eaau0X mbr-fullscreen mbr-parallax-background" id="header12-8">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
        </div>
        <div class="container  ">
           <div class="media-container">
              <div class="col-md-12 align-center">
                 <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1">Alumni Events</h1>
                 <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-5">List of upcoming and past&nbsp;occasions,&nbsp;experience,&nbsp;get-together</p>
                 <div class="icons-media-container mbr-white">
                    <div class="card col-12 col-md-6">
                       <div class="icon-block">
                          <a href="#content4-b">
                          <span class="mbr-iconfont mobi-mbri-flag mobi-mbri"></span>
                          </a>
                       </div>
                       <h5 class="mbr-fonts-style display-5">Upcoming Events</h5>
                    </div>
                    <div class="card col-12 col-md-6">
                       <div class="icon-block">
                          <a href="#testimonials1-l">
                          <span class="mbr-iconfont mbri-chat"></span>
                          </a>
                       </div>
                       <h5 class="mbr-fonts-style display-5">Reviews</h5>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
           <a href="#content4-b">
           <i class="mbri-down mbr-iconfont"></i>
           </a>
        </div>
     </section>
     <section class="mbr-section content4 cid-rR39hxR62O" id="content4-b">
        <div class="container">
           <div class="media-container-row">
              <div class="title col-12 col-md-8">
                 <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Upcoming Events
                 </h2>
              </div>
           </div>
        </div>
     </section>
     <section class="mbr-section content5 cid-rR2JuxCDLD mbr-parallax-background" id="content5-0">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
        </div>
        <div class="container">
           <div class="media-container-row">
              <div class="title col-12 col-md-8">
                 <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Go Go Gnomes</h2>
                 <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Take in the sights, smells and sounds of Christmas and enjoy a jolly experience on 23rd December, 2020</h3>
                 <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="#">Description</a>
                    <a class="btn btn-white-outline display-4" href="#">Timeline</a>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section class="countdown1 cid-rSCSCC4FKf" id="countdown1-j">
        <div class="container ">
        </div>
        <div class="container countdown-cont align-center">
           <div class="daysCountdown" title="Days"></div>
           <div class="hoursCountdown" title="Hours"></div>
           <div class="minutesCountdown" title="Minutes"></div>
           <div class="secondsCountdown" title="Seconds"></div>
           <div class="countdown pt-5 mt-2" data-due-date="2020/12/25">
           </div>
        </div>
     </section>
     <section class="mbr-section content7 cid-rSCyBy5PxA" id="content7-h">
        <div class="container">
           <div class="media-container-row">
              <div class="col-12 col-md-8">
                 <div class="media-container-row">
                    <div class="media-content">
                       <div class="mbr-section-text">
                          <p class="mbr-text align-right mb-0 mbr-fonts-style display-7"><strong>Comedy Cellar</strong><br>"Even if you were cloned, you'd still be one of a kind. And the better looking one" - A little spoiler for what you will witness. Four top professional comedians to make you laugh.<br></p>
                       </div>
                    </div>
                    <div class="mbr-figure" style="width: 80%;">
                       <img src="{% static 'assets/images/14576-1-5-of-the-best-london-comedy-clubs-ban-536x260.jpeg' %}" alt="image" title="">
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section class="mbr-section content6 cid-rR2JFDt9nC" id="content6-2">
        <div class="container">
           <div class="media-container-row">
              <div class="col-12 col-md-8">
                 <div class="media-container-row">
                    <div class="mbr-figure" style="width: 80%;">
                       <img src="{% static 'assets/images/bigstock-microphone-on-a-stand-ready-fo-278272205-536x357.jpeg' %}" alt="image" title="">
                    </div>
                    <div class="media-content">
                       <div class="mbr-section-text">
                          <p class="mbr-text mb-0 mbr-fonts-style display-7"><strong>A Cappella Night</strong><br>See your favorite artist playing and embrace your inner muisician. They are the warrior within sounds, mellifuous, soundlicious, they are Peter Hollens, Dake Sharron and Avi Kaplan.<br></p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section class="mbr-section content7 cid-rR2JFeGM5a" id="content7-1">
        <div class="container">
           <div class="media-container-row">
              <div class="col-12 col-md-8">
                 <div class="media-container-row">
                    <div class="media-content">
                       <div class="mbr-section-text">
                          <p class="mbr-text align-right mb-0 mbr-fonts-style display-7"><strong>Christmas Lights</strong><br>From Christmas markets and ice-skating rinks, Find out what to see and do as the college is transformed with huge Christmas trees, festive decorations and twinkling London Christmas lights.<br></p>
                       </div>
                    </div>
                    <div class="mbr-figure" style="width: 80%;">
                       <img src="{% static 'assets/images/fortnite-winterfest-2019-2-536x281.jpeg' %}" alt="image" title="">
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section class="mbr-section content5 cid-rSD4m2TMOJ mbr-parallax-background" id="content5-n">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
        </div>
        <div class="container">
           <div class="media-container-row">
              <div class="title col-12 col-md-8">
                 <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">National Conference Meetup 2.0</h2>
                 <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">"Simplicity is the ultimate sophistication", Event on 8th July, 2020</h3>
                 <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="#">Description</a>
                    <a class="btn btn-white-outline display-4" href="#">Timeline</a>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section class="countdown1 cid-rSD4s3tvSB" id="countdown1-r">
        <div class="container ">
        </div>
        <div class="container countdown-cont align-center">
           <div class="daysCountdown" title="Days"></div>
           <div class="hoursCountdown" title="Hours"></div>
           <div class="minutesCountdown" title="Minutes"></div>
           <div class="secondsCountdown" title="Seconds"></div>
           <div class="countdown pt-5 mt-2" data-due-date="2020/07/08">
           </div>
        </div>
     </section>
     <section class="mbr-section content6 cid-rSD4nKFJ3W" id="content6-o">
        <div class="container">
           <div class="media-container-row">
              <div class="col-12 col-md-8">
                 <div class="media-container-row">
                    <div class="mbr-figure" style="width: 80%;">
                       <img src="{% static 'assets/images/ejq6d79wsaa-bj4-536x356.jpeg' %}" alt="image" title="">
                    </div>
                    <div class="media-content">
                       <div class="mbr-section-text">
                          <p class="mbr-text mb-0 mbr-fonts-style display-7"><strong>Alumni Talks</strong><strong><br></strong>Don't miss an opprtunity to hear alumni who are interested in sharing their expertise on a wide variety of topics with students and/or fellow alumni.<br></p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section class="mbr-section content7 cid-rSD4obANwW" id="content7-p">
        <div class="container">
           <div class="media-container-row">
              <div class="col-12 col-md-8">
                 <div class="media-container-row">
                    <div class="media-content">
                       <div class="mbr-section-text">
                          <p class="mbr-text align-right mb-0 mbr-fonts-style display-7"><strong>Beer Pong and other activities&nbsp;</strong><br>Who said all alumni events need to be posh affairs? A good, old-fashioned beer pong, live music tournament can go far in bringing back fond memories for alumni — especially younger alumni.<br></p>
                       </div>
                    </div>
                    <div class="mbr-figure" style="width: 80%;">
                       <img src="{% static 'assets/images/ad-536x357.jpeg' %}" alt="image" title="">
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section class="mbr-section content6 cid-rSD4oPkTff" id="content6-q">
        <div class="container">
           <div class="media-container-row">
              <div class="col-12 col-md-8">
                 <div class="media-container-row">
                    <div class="mbr-figure" style="width: 80%;">
                       <img src="{% static 'assets/images/photo-1534095199036-ba4fd1eed616-536x358.jpeg' %}" alt="image" title="">
                    </div>
                    <div class="media-content">
                       <div class="mbr-section-text">
                          <p class="mbr-text mb-0 mbr-fonts-style display-7"><strong>Sports Event</strong><br>All the people attending the meetup will get a chance to view&nbsp;Red Sox vs Yankees game at Yankee Stadium with a dicounted rate ticket.</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section class="mbr-section content4 cid-rSCEn3nLno" id="content4-i">
        <div class="container">
           <div class="media-container-row">
              <div class="title col-12 col-md-8">
                 <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Past Events
                 </h2>
              </div>
           </div>
        </div>
     </section>
     <section class="mbr-section content5 cid-rR2YUOOmEL mbr-parallax-background" id="content5-3">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
        </div>
        <div class="container">
           <div class="media-container-row">
              <div class="title col-12 col-md-8">
                 <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Relive, Reconnect, Rejoice…</h2>
                 <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">&nbsp; Let us take you back into the time,<br>reunion of batch 1970</h3>
                 <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="#">Description</a>
                    <a class="btn btn-white-outline display-4" href="#">Gallery</a>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section class="mbr-section article content1 cid-rSCUSq7u2h" id="content1-m">
        <div class="container">
           <div class="media-container-row">
              <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-8">
                 <p>It can be great catching up with old friends, colleagues or relatives. Reunions often spark a bit of nostalgia, and fond memories. Remember the good times with the collection of wise and insightful.&nbsp;<span style="font-size: 1rem;">There is nothing like returning to a place that remains unchanged to find the ways in which you yourself have altered. We will continue hosting RRR(Relive,Reconnect,Rejoice) events every year for our beloved alumni.</span></p>
              </div>
           </div>
        </div>
     </section>
     <section class="mbr-section content5 cid-rSDfE5QLzB mbr-parallax-background" id="content5-s">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
        </div>
        <div class="container">
           <div class="media-container-row">
              <div class="title col-12 col-md-8">
                 <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">National Coference Meetup 1.0</h2>
                 <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Took place on 7th June, 2019</h3>
                 <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="#">Description</a>
                    <a class="btn btn-white-outline display-4" href="#">Gallery</a>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <section class="testimonials1 cid-rSCTe2RCI4" data-bg-video="http://www.youtube.com/watch?v=uNCr7NdOJgw" id="testimonials1-l">
        <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(239, 239, 239);">
        </div>
        <div id="testimonials1-l" class="container">
           <div class="media-container-row">
              <div class="title col-12 align-center">
                 <h2 class="pb-3 mbr-fonts-style display-2">
                    WHAT OUR FANTASTIC ALUMNI SAY
                 </h2>
              </div>
           </div>
        </div>
        <div class="container pt-3 mt-2">
           <div class="media-container-row">
              <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                 <div class="panel-item p-3">
                    <div class="card-block">
                       <div class="testimonial-photo">
                          <img src="{% static 'assets/images/mbr-240x160.jpeg' %}" alt="" title="">
                       </div>
                       <p class="mbr-text mbr-fonts-style display-7">Reunion after long separation is even better than one's wedding night!</p>
                    </div>
                    <div class="card-footer">
                       <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Zayd Hartley</div>
                       <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                       Applications Programmer
                       </small>
                    </div>
                 </div>
              </div>
              <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                 <div class="panel-item p-3">
                    <div class="card-block">
                       <div class="testimonial-photo">
                          <img src="{% static 'assets/images/images-2-183x275.jpg' %}" alt="" title="">
                       </div>
                       <p class="mbr-text mbr-fonts-style display-7">The fun of going to a college reunion: it's seeing the people who you were close to all those years ago, and re-exploring the relationships of the past. <br></p>
                    </div>
                    <div class="card-footer">
                       <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Aisha Miller</div>
                       <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Data Analyst</small>
                    </div>
                 </div>
              </div>
              <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                 <div class="panel-item p-3">
                    <div class="card-block">
                       <div class="testimonial-photo">
                          <img src="{% static 'assets/images/face3.jpg' %}">
                       </div>
                       <p class="mbr-text mbr-fonts-style display-7">I believe biggest reason I attend these events is to feel what it is to be in this place again and I think IIITSAA has done an amazing job to portraite that feeling.</p>
                    </div>
                    <div class="card-footer">
                       <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Charis Owens</div>
                       <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                       Junior Software Developer
                       </small>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- <script src="{% static 'assets/events_popper/popper.min.js"></script> -->
     <script src="{% static 'assets/events_web/assets/jquery/jquery.min.js"></script>
     <!-- <script src="{% static 'assets/events_bootstrap/js/bootstrap.min.js"></script> -->
     <!-- <script src="{% static 'assets/events_smoothscroll/smooth-scroll.js"></script> -->
     <script src="{% static 'assets/events_parallax/jarallax.min.js"></script>
     <script src="{% static 'assets/events_countdown/jquery.countdown.min.js"></script>
     <script src="{% static 'assets/events_ytplayer/jquery.mb.ytplayer.min.js"></script>
     <!-- <script src="{% static 'assets/events_tether/tether.min.js"></script> -->
     <script src="{% static 'assets/events_vimeoplayer/jquery.mb.vimeo_player.js"></script>
     <script src="{% static 'assets/events_theme/js/script.js"></script>

{% endblock content %}
