<!DOCTYPE html> {% extends "base.html" %} {% block title %}Events{% endblock %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'assets/events_web/assets/mobirise-icons/mobirise-icons.css' %}">
<link rel="stylesheet" href="{% static 'assets/events_web/assets/mobirise-icons2/mobirise2.css' %}">
<link rel="stylesheet" href="{% static 'assets/events_bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/events_bootstrap/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/events_bootstrap/css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/events_tether/tether.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/events_theme/css/style.css' %}">
<link rel="preload" as="style" href="{% static 'assets/events_mobirise/css/mbr-additional.css' %}">
<link rel="stylesheet" href="{% static 'assets/events_mobirise/css/mbr-additional.css' %}" type="text/css">


<section class="header12 cid-rR33eaau0X mbr-fullscreen mbr-parallax-background" id="header12-8">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container  ">
        <div class="media-container">
            <div class="col-md-12 align-center">
                <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1">Events</h1>
                <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-5">bahbvhsbc</p>


                <div class="icons-media-container mbr-white">
                    <div class="card col-12 col-md-6">
                        <div class="icon-block">
                            <a href="index.html#content4-b">
                                <span class="mbr-iconfont mobi-mbri-flag mobi-mbri"></span>
                            </a>
                        </div>
                        <h5 class="mbr-fonts-style display-5">Upcoming Events</h5>
                    </div>

                    <div class="card col-12 col-md-6">
                        <div class="icon-block">
                            <a href="index.html#testimonials4-9">
                                <span class="mbr-iconfont mbri-chat"></span>
                            </a>
                        </div>
                        <h5 class="mbr-fonts-style display-5">Reviews</h5>
                    </div>




                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="engine"><a href="#">free amp template</a></section>
<section class="mbr-section content4 cid-rR39hxR62O" id="content4-b">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Upcoming Events</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Shape your future</h3>

            </div>
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-rR2JuxCDLD mbr-parallax-background" id="content5-0">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Mandalorian</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">acskbkscb</h3>

                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="#">Visit Website</a>
                    <a class="btn btn-white-outline display-4" href="#">View Timeline</a></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content7 cid-rR2JFeGM5a" id="content7-1">



    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7"><strong>Title</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis?
                                Facere similique accusamus, accusantium sunt!<br></p>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 80%;">
                        <img src="{% static 'assets/images/background1.jpg' %}" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content6 cid-rR2JFDt9nC" id="content6-2">



    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 80%;">
                        <img src="{% static 'assets/images/background1.jpg' %}" alt="Mobirise">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7"><strong>Title</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis?
                                Facere similique accusamus, accusantium sunt!<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-rR2YUOOmEL mbr-parallax-background" id="content5-3">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Little Women</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">lscnajncsj</h3>

                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="#">LEARN MORE</a>
                    <a class="btn btn-white-outline display-4" href="#">LIVE DEMO</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content6 cid-rR2YVLIMvK" id="content6-4">



    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 85%;">
                        <img src="{% static 'assets/images/background1.jpg' %}" alt="Mobirise">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7"><strong>title</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis?
                                Facere similique accusamus, accusantium sunt!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content7 cid-rR2YWl4VDf" id="content7-5">



    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">
                                <strong>Title!</strong>&nbsp;<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad
                                veritatis? Facere similique accusamus, accusantium sunt!</p>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 85%;">
                        <img src="{% static 'assets/images/background1.jpg' %}" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials4 cid-rR364CqmnC" id="testimonials4-9">



    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container">
        <h2 class="pb-3 mbr-fonts-style mbr-white align-center display-2">
            WHAT OUR FANTASTIC USERS SAY
        </h2>
        <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style mbr-white align-center display-5">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!"</h3>
        <div class="col-md-10 testimonials-container">



            <div class="testimonials-item">
                <div class="user row">
                    <div class="col-lg-3 col-md-4">
                        <div class="user_image">
                            <img src="{% static 'assets/images/face2.jpg' %}">
                        </div>
                    </div>
                    <div class="testimonials-caption col-lg-9 col-md-8">
                        <div class="user_text ">
                            <p class="mbr-fonts-style  display-7">
                                <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!"</em>
                            </p>
                        </div>
                        <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">
                            Helen
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style align-left pt-2 display-7">
                            DESIGNER
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="user row">
                    <div class="col-lg-3 col-md-4">
                        <div class="user_image">
                            <img src="{% static 'assets/images/face1.jpg' %}">
                        </div>
                    </div>
                    <div class="testimonials-caption col-lg-9 col-md-8">
                        <div class="user_text">
                            <p class="mbr-fonts-style  display-7">
                                <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!"</em>
                            </p>
                        </div>
                        <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">
                            Alex
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style align-left pt-2 display-7">
                            DEVELOPER
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="{% static 'assets/events_web/assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/events_popper/popper.min.js' %}"></script>
<script src="{% static 'assets/events_bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/events_tether/tether.min.js' %}"></script>
<script src="{% static 'assets/events_smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/events_vimeoplayer/jquery.mb.vimeo_player.js' %}"></script>
<script src="{% static 'assets/events_parallax/jarallax.min.js' %}"></script>
<script src="{% static 'assets/events_theme/js/script.js' %}"></script>


{% endblock content %}
