{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Change Password Page{% endblock title %}

{% block content %} 
<div class="style-custom container jumbotron">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'home' %}">Back</a>&nbsp;
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
<style>
   .style-custom{
      margin-top:1%;
      padding:3%;
      width:50%;
   }
   @media screen and (max-width:800px){
      .style-custom{
         width:90%;
      }
   }
</style>
{% endblock content %}